<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar Correo con contrato a Firmar</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    form {
      width: 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
    }
    h1 {
      text-align: center;
    }
    label, input, textarea {
      display: block;
      margin-bottom: 10px;
    }
    input, textarea {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <form action="/enviar_correoSA" method="POST">
    <h1>
      Confirmación de Correo
    </h1>
    <ul>
      <!-- Aquí se mostrará la lista de correos cargados -->
      <% correos.forEach((usuario, index) => { %>
        <li><%= index + 1 %>. <%= usuario.correo %></li>
      <% }); %>
    </ul>
    <button type="submit">Enviar Correo</button>
  </form>
</body>
</html>
